In [326]:
import numpy as np
import pandas as pd

In [327]:
match = pd.read_csv("Match.csv")

In [328]:
match.sample(10)

,team1,team2,toss_winner,toss_decision,winner,win,toss_win,Team1_pts,Team1_RR,Team2_pts,Team2_RR
363,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,1,Sunrisers Hyderabad,team 2,1,13.666667,-0.050583,15.571429,0.152857
396,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab,2,Chennai Super Kings,team 2,2,13.500000,-0.197417,17.600000,0.358400
303,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,1,Kings XI Punjab,team 2,1,13.666667,-0.050583,13.500000,-0.197417
324,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,1,Kings XI Punjab,team 2,1,13.666667,-0.050583,13.500000,-0.197417
393,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,1,Kings XI Punjab,team 1,1,13.500000,-0.197417,13.666667,-0.050583
191,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,1,Kings XI Punjab,team 1,1,13.500000,-0.197417,14.900000,-0.097900
204,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,1,Royal Challengers Bangalore,team 1,1,13.666667,-0.050583,13.500000,-0.197417
259,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,1,Kolkata Knight Riders,team 1,1,14.666667,0.083167,16.583333,0.313333
163,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,1,Royal Challengers Bangalore,team 2,1,14.666667,0.083167,13.666667,-0.050583
423,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,1,Sunrisers Hyderabad,team 1,1,15.571429,0.152857,13.666667,-0.050583

In [329]:
point_table = pd.read_csv("IPL_Points_Table.csv")

In [330]:
point_table

,Team,Pld,Won,Lost,N/R,Net RR,Pts
0,Chennai Super Kings,14.400000,8.700000,5.500000,0.200000,0.358400,17.600000
1,Deccan Chargers,14.400000,5.400000,8.800000,0.200000,-0.169600,11.000000
2,Delhi Capitals,14.333333,6.333333,7.750000,0.250000,-0.173417,12.916667
3,Gujarat Lions,14.000000,6.500000,7.500000,0.000000,-0.393000,13.000000
4,Kings XI Punjab,14.333333,6.750000,7.583333,0.000000,-0.197417,13.500000
5,Kochi Tuskers Kerala,14.000000,6.000000,8.000000,0.000000,-0.214000,12.000000
6,Kolkata Knight Riders,14.333333,7.166667,6.833333,0.333333,0.083167,14.666667
7,Mumbai Indians,14.333333,8.250000,6.000000,0.083333,0.313333,16.583333
8,Pune Warriors India,15.333333,4.000000,11.000000,0.333333,-0.563667,8.333333
9,Rajasthan Royals,14.400000,7.200000,6.700000,0.500000,-0.097900,14.900000
10,Rising Pune Supergiants,14.000000,7.000000,7.000000,0.000000,0.095500,14.000000
11,Royal Challengers Bangalore,14.333333,6.583333,7.250000,0.500000,-0.050583,13.666667
12,Sunrisers Hyderabad,14.285714,7.714286,6.428571,0.142857,0.152857,15.571429

In [331]:
match['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Kings XI Punjab',
       'Chennai Super Kings', 'Deccan Chargers', 'Rajasthan Royals',
       'Kochi Tuskers Kerala'], dtype=object)

In [332]:
match['team2'].unique()

array(['Royal Challengers Bangalore', 'Rising Pune Supergiants',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Sunrisers Hyderabad',
       'Mumbai Indians', 'Gujarat Lions', 'Rajasthan Royals',
       'Chennai Super Kings', 'Deccan Chargers', 'Kochi Tuskers Kerala'],
      dtype=object)

In [333]:
#Take only recent team
recent_team = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Kings XI Punjab','Royal Challengers Bangalore', 'Delhi Capitals',
        'Sunrisers Hyderabad']

In [334]:
match = match[(match.team1.isin(recent_team)) & (match.team2.isin(recent_team)) & (match.toss_winner.isin(recent_team))]

In [335]:
match.shape

(331, 11)

In [336]:
match.head()

,team1,team2,toss_winner,toss_decision,winner,win,toss_win,Team1_pts,Team1_RR,Team2_pts,Team2_RR
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,1,Sunrisers Hyderabad,team 1,1,15.571429,0.152857,13.666667,-0.050583
5,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,1,Mumbai Indians,team 2,1,14.666667,0.083167,16.583333,0.313333
6,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,2,Kings XI Punjab,team 2,2,13.666667,-0.050583,13.500000,-0.197417
7,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,1,Mumbai Indians,team 2,1,15.571429,0.152857,16.583333,0.313333
8,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,1,Kolkata Knight Riders,team 2,1,13.500000,-0.197417,14.666667,0.083167

In [337]:
match.drop(['toss_decision','win','toss_win'],axis=1,inplace=True)

In [338]:
match.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 448
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   team1        331 non-null    object
 1   team2        331 non-null    object
 2   toss_winner  331 non-null    object
 3   winner       331 non-null    object
 4   Team1_pts    331 non-null    float64
 5   Team1_RR     331 non-null    float64
 6   Team2_pts    331 non-null    float64
 7   Team2_RR     331 non-null    float64
dtypes: float64(4), object(4)
memory usage: 23.3+ KB

In [339]:
#handle categorical variable
data = match.join(pd.get_dummies(match[['team1','team2','toss_winner']]))

In [340]:
pd.set_option('display.max_columns',None)

In [341]:
data.head()

,team1,team2,toss_winner,winner,Team1_pts,Team1_RR,Team2_pts,Team2_RR,team1_Chennai Super Kings,team1_Kings XI Punjab,team1_Kolkata Knight Riders,team1_Mumbai Indians,team1_Rajasthan Royals,team1_Royal Challengers Bangalore,team1_Sunrisers Hyderabad,team2_Chennai Super Kings,team2_Kings XI Punjab,team2_Kolkata Knight Riders,team2_Mumbai Indians,team2_Rajasthan Royals,team2_Royal Challengers Bangalore,team2_Sunrisers Hyderabad,toss_winner_Chennai Super Kings,toss_winner_Kings XI Punjab,toss_winner_Kolkata Knight Riders,toss_winner_Mumbai Indians,toss_winner_Rajasthan Royals,toss_winner_Royal Challengers Bangalore,toss_winner_Sunrisers Hyderabad
0,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,Sunrisers Hyderabad,15.571429,0.152857,13.666667,-0.050583,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
5,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Mumbai Indians,14.666667,0.083167,16.583333,0.313333,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
6,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,13.666667,-0.050583,13.500000,-0.197417,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
7,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Mumbai Indians,15.571429,0.152857,16.583333,0.313333,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
8,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,13.500000,-0.197417,14.666667,0.083167,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0

In [342]:
data.team1.unique()

array(['Sunrisers Hyderabad', 'Kolkata Knight Riders',
       'Royal Challengers Bangalore', 'Kings XI Punjab', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals'], dtype=object)

In [343]:
data.team2.unique()

array(['Royal Challengers Bangalore', 'Mumbai Indians', 'Kings XI Punjab',
       'Kolkata Knight Riders', 'Sunrisers Hyderabad', 'Rajasthan Royals',
       'Chennai Super Kings'], dtype=object)

In [344]:
data.columns

Index(['team1', 'team2', 'toss_winner', 'winner', 'Team1_pts', 'Team1_RR',
       'Team2_pts', 'Team2_RR', 'team1_Chennai Super Kings',
       'team1_Kings XI Punjab', 'team1_Kolkata Knight Riders',
       'team1_Mumbai Indians', 'team1_Rajasthan Royals',
       'team1_Royal Challengers Bangalore', 'team1_Sunrisers Hyderabad',
       'team2_Chennai Super Kings', 'team2_Kings XI Punjab',
       'team2_Kolkata Knight Riders', 'team2_Mumbai Indians',
       'team2_Rajasthan Royals', 'team2_Royal Challengers Bangalore',
       'team2_Sunrisers Hyderabad', 'toss_winner_Chennai Super Kings',
       'toss_winner_Kings XI Punjab', 'toss_winner_Kolkata Knight Riders',
       'toss_winner_Mumbai Indians', 'toss_winner_Rajasthan Royals',
       'toss_winner_Royal Challengers Bangalore',
       'toss_winner_Sunrisers Hyderabad'],
      dtype='object')

In [346]:
data = data.drop(['team1','team2','toss_winner'],axis=1)

In [347]:
data.head()

,winner,Team1_pts,Team1_RR,Team2_pts,Team2_RR,team1_Chennai Super Kings,team1_Kings XI Punjab,team1_Kolkata Knight Riders,team1_Mumbai Indians,team1_Rajasthan Royals,team1_Royal Challengers Bangalore,team1_Sunrisers Hyderabad,team2_Chennai Super Kings,team2_Kings XI Punjab,team2_Kolkata Knight Riders,team2_Mumbai Indians,team2_Rajasthan Royals,team2_Royal Challengers Bangalore,team2_Sunrisers Hyderabad,toss_winner_Chennai Super Kings,toss_winner_Kings XI Punjab,toss_winner_Kolkata Knight Riders,toss_winner_Mumbai Indians,toss_winner_Rajasthan Royals,toss_winner_Royal Challengers Bangalore,toss_winner_Sunrisers Hyderabad
0,Sunrisers Hyderabad,15.571429,0.152857,13.666667,-0.050583,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0
5,Mumbai Indians,14.666667,0.083167,16.583333,0.313333,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
6,Kings XI Punjab,13.666667,-0.050583,13.500000,-0.197417,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
7,Mumbai Indians,15.571429,0.152857,16.583333,0.313333,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0
8,Kolkata Knight Riders,13.500000,-0.197417,14.666667,0.083167,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0

In [348]:
X = data.drop('winner',axis=1)
y = data['winner']

In [349]:
from sklearn.model_selection import train_test_split

In [350]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=20)

In [351]:
X_train.head()

,Team1_pts,Team1_RR,Team2_pts,Team2_RR,team1_Chennai Super Kings,team1_Kings XI Punjab,team1_Kolkata Knight Riders,team1_Mumbai Indians,team1_Rajasthan Royals,team1_Royal Challengers Bangalore,team1_Sunrisers Hyderabad,team2_Chennai Super Kings,team2_Kings XI Punjab,team2_Kolkata Knight Riders,team2_Mumbai Indians,team2_Rajasthan Royals,team2_Royal Challengers Bangalore,team2_Sunrisers Hyderabad,toss_winner_Chennai Super Kings,toss_winner_Kings XI Punjab,toss_winner_Kolkata Knight Riders,toss_winner_Mumbai Indians,toss_winner_Rajasthan Royals,toss_winner_Royal Challengers Bangalore,toss_winner_Sunrisers Hyderabad
448,15.571429,0.152857,13.666667,-0.050583,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1
207,17.600000,0.358400,14.900000,-0.097900,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
305,13.500000,-0.197417,16.583333,0.313333,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
45,14.666667,0.083167,13.666667,-0.050583,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
192,16.583333,0.313333,17.600000,0.358400,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0

In [352]:
y_train

448      Sunrisers Hyderabad
207      Chennai Super Kings
305          Kings XI Punjab
45     Kolkata Knight Riders
192           Mumbai Indians
               ...
115      Chennai Super Kings
372      Sunrisers Hyderabad
312    Kolkata Knight Riders
317          Kings XI Punjab
365    Kolkata Knight Riders
Name: winner, Length: 264, dtype: object

In [353]:
from sklearn.ensemble import RandomForestClassifier

In [354]:
rfc = RandomForestClassifier()

In [355]:
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [356]:
rfc.score(X_train,y_train)

0.696969696969697

In [357]:
rfc.score(X_test,y_test)

0.5373134328358209

In [358]:
#        1) Chennai Super Kings,
#        2) Kings XI Punjab, 3) Kolkata Knight Riders,
#        4) Mumbai Indians, 5) Rajasthan Royals,
#        6) Royal Challengers Bangalore, 7) Sunrisers Hyderabad

In [384]:
def Predictor(team1,team2,team1_pts,team1_rr,team2_pts,team2_rr,toss_win):
    #Team1
    if team1 == 'Chennai Super Kings':
        Team1 = [1]*1 + [0]*6
    elif team1 == 'Kings XI Punjab':
        Team1 = [0]*1 + [1]*1 + [0]*5
    elif team1 == 'Kolkata Knight Riders':
        Team1 = [0]*2 + [1]*1 + [0]*4
    elif team1 == 'Mumbai Indians':
        Team1 = [0]*3 + [1]*1 + [0]*3
    elif team1 == 'Rajasthan Royals':
        Team1 = [0]*4 + [1]*1 + [0]*2
    elif team1 == 'Royal Challengers Bangalore':
        Team1 = [0]*5 + [1]*1 + [0]*1
    else:
        Team1 = [0]*6 + [1]*1
    
    #Team2    
    if team2 == 'Chennai Super Kings':
        Team2 = [1]*1 + [0]*6
    elif team2 == 'Kings XI Punjab':
        Team2 = [0]*1 + [1]*1 + [0]*5
    elif team2 == 'Kolkata Knight Riders':
        Team2 = [0]*2 + [1]*1 + [0]*4
    elif team2 == 'Mumbai Indians':
        Team2 = [0]*3 + [1]*1 + [0]*3
    elif team2 == 'Rajasthan Royals':
        Team2 = [0]*4 + [1]*1 + [0]*2
    elif team2 == 'Royal Challengers Bangalore':
        Team2 = [0]*5 + [1]*1 + [0]*1
    else:
        Team2 = [0]*6 + [1]*1
    
    #toss_win
    if toss_win == 'Chennai Super Kings':
        Toss_win = [1]*1 + [0]*6
    elif toss_win == 'Kings XI Punjab':
        Toss_win = [0]*1 + [1]*1 + [0]*5
    elif toss_win == 'Kolkata Knight Riders':
        Toss_win = [0]*2 + [1]*1 + [0]*4
    elif toss_win == 'Mumbai Indians':
        Toss_win = [0]*3 + [1]*1 + [0]*3
    elif toss_win == 'Rajasthan Royals':
        Toss_win = [0]*4 + [1]*1 + [0]*2
    elif toss_win == 'Royal Challengers Bangalore':
        Toss_win = [0]*5 + [1]*1 + [0]*1
    else:
        Toss_win = [0]*6 + [1]*1
    
    #Team1,2 points
    Team1_pts = [team1_pts]
    Team2_pts = [team2_pts]
    
    #Team1,2 RR
    Team1_rr = [team1_rr]
    Team2_rr = [team2_rr]
    
    ipl_list = Team1_pts+Team1_rr+Team2_pts+Teame2_rr+Team1+Team2+Toss_win
    IPL_data = np.array([ipl_list])
    
    return IPL_data

In [386]:
Data = Predictor(team1='Chennai Super Kings',team2='Sunrisers Hyderabad',team1_pts=13,team1_rr=0.1,team2_pts=14,team2_rr=0.3,toss_win='Chennai Super Kings')

In [387]:
print("'"+rfc.predict(Data)[0]+"'"+" is going to win the match.")

'Chennai Super Kings' is going to win the match.

In [388]:
Data = Predictor(team1='Royal Challengers Bangalore',team2='Sunrisers Hyderabad',team1_pts=13.6,team1_rr=0.083,team2_pts=14.6,team2_rr=-0.050,toss_win='Royal Challengers Bangalore')
print("'"+rfc.predict(Data)[0]+"'"+" is going to win the match.")

'Sunrisers Hyderabad' is going to win the match.